.headerContainer {
   background-color: #f79c9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .headerTitle {
    font-size: 4rem;
    color: #fff
  }
  
  .headerImage {
    width: 70%;
  }
  